
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  body {
    color: #333;
    /* 400 regular, 500 medium, bold 700 */
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    text-align: center;
  }
  
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* 헤더 */
  #main_header {
    position: relative;
    background: #fff;
    height: 100%;
    height: 68px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
  #main_header > h1 {
    padding-top: 10px;
  }
  
  #main_header > h1 img {
    position: absolute;
    right: 170px;
    top: 1px;
    height: 60px;
  }
  
  #main_header > .btn_toggle {
    position: absolute;
    left: 20px; top: 20px;
    background: none;
    border: none;
  }
  #main_header .btn_toggle  > img {
    height: 30px;
}

  #gnb {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #fff;
    left: 0; top: 0;
    z-index: 999;
    box-shadow: 2px 0px 6px rgba(0,0,0, 0.2);
    display: none;
  }
  
  #gnb > div {
    height: 68px;
    /* outline: 1px solid red; */
  }
  
  #gnb .btn_close {
    position: absolute;
    right: 20px; top: 25px;
    width: 32px;
    height: 32px;
    border: none;
  }
  
  
  #gnb > ul > li {
    /* outline: 1px solid #ccc; */
    padding: 10px 20px;
    text-align: left;
    font-weight: 500;
  }
  #gnb > ul > li:hover {
    outline: 1px solid blue;
  }

  .map > h2 {
    position: inherit;
    top: 50%; left: 50%;

  }
  .map > .mapin {
    position: absolute;
    top: 105px;
    color: #ccc;
    left: 48%;
    text-align: center;
    box-sizing: border-box;
  }
  .mt {
    text-align: center;
    padding: 50px;
  }

  .cs {
    color: lightslategray;


  }






  #main_footer {
    background: #333;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 56px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  #main_footer .sns img{
    margin-left: 13px;
    margin-right: 13px;
    width: 60px; height: 40px;
  }
  
  #main_footer .tel {
    font-size: 18px;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  #main_footer .tel a {
    color: #fff;
  }
  
  #main_footer .tel span,
  #main_footer .info,
  #main_footer .copy {
    font-size: 12px;
    font-weight: 400;
  }
  
  #main_footer .info {
    margin-bottom: 18px;
  }